.search-handler {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input {
    height: 30px;
    padding: 10px;
    background-color: var(--tertiary-color);
    color: var(--font-color);
    
    border: none;
    border-radius: 5px;
}

input::placeholder{
    color: var(--quaternary-color);
}

input:focus{
    outline: none;
}

.search-input{
    width: 50%;
}

.limit-handler{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.limit-input{
    width: 5%;
    margin: 10px;
}

.search-handler button {
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loading-screen{
    text-align: center;
}